<div class="page-header">
  <%= link_to clientes_path, :class => 'btn btn-default dropdown-toggle' do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
    Voltar
  <% end %>
  
  <h1>Criando Cliente</h1>
</div>
<%= render 'form' %>


