<div class="page-header">
<div class="page-header">
  <%= link_to cliente_path(@cliente), :class => 'btn btn-default dropdown-toggle' do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
    Voltar
  <% end %>
  
  <h1>Novo Veículo</h1>
</div> 
  

<%= form_for(@veiculo, url: cliente_veiculos_path(@cliente), :html => { :class => "form-horizontal" }) do |f| %>

  <%= render partial: 'form', locals: {f: f} %>
 
<% end %>
