<div class="page-header">
 <%= link_to cliente_veiculo_path(@veiculo.cliente, @veiculo), :class => 'btn btn-default dropdown-toggle' do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
    Voltar
  <% end %>  
 <h1>Nova Ordem de Serviço</h1>
</div>
  
  

<%= form_for(@ordem_servico, url: veiculo_ordem_servicos_path(@veiculo), :html => { :class => "form-horizontal" }) do |f| %>

  <%= render partial: 'form', locals: {f: f} %>
 
<% end %>
